$body-bg: #F2F2F2;
$off-white: #ffffffc0;
$primary: #08A045;
$primary-light: #27D36C;
$yellow: #FFD500;
$accent: #3BA5DC;
$secondary: #FF3697;
$danger: #EB5757;
$warning: #FF7F50;
$info: #00C9BD;
$dark: #363635;
$primary-font: 'Montserrat',sans-serif;
$secondary-font: 'Raleway', sans-serif;