$body-bg: #F2F2F2;
$off-white: #ffffffc0;
$primary: #0856a0;
$primary-light: #27b1d3;
$yellow: #FFD500;
$accent: #3BA5DC;
$secondary: #f1ec9c;
$danger: #EB5757;
$warning: #FF7F50;
$info: #00C9BD;
$dark: #363635;
$primary-font: 'Montserrat',sans-serif;
$secondary-font: 'Raleway', sans-serif;