@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.component-spacing {
  background-color: $off-white;
  padding: 1rem !important;
  margin: .5rem !important;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.component-spacing--small {
  background-color: $off-white;
  padding: .5rem !important;
  margin: .5rem !important;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  height: 10rem;
}
.btn-grad {
  background-image: linear-gradient(to right, $primary 0%, $primary-light 100%)
}
.btn-grad {
  margin: 2px;
  padding: 3px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 0px #eee;
  border-radius: 10px;
  display: block;
  font-size: .7em;
}
.btn-grad-modal {
    background-image: linear-gradient(to right, $primary 0%, $primary-light 100%);
  margin: 2px;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 0px #eee;
  border-radius: 10px;
  display: block;
  font-size: 1em;
}
.modal-logo{
  transform: rotate(90deg);
  height: 2rem;
}
.modal-header{
  padding-left: 4px !important;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
input:focus{
  border:1px solid $primary;
}
